#log {
 width:90%;
 height:500px;
  float:left;
  overflow:scroll;
}

#frame {
  width:90%;
  height:70%;
  background-color:rgba(0,0,0,0.6);
  border:solid 3px rgba(0,0,0,0.4);
  margin:3px;
  padding:3px;
}

img { 
  height:300px;
}

form {

  
}
