ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin: 14px;
  height : 159px;
  border : 2px white solid;
  list-style:none;
  position:relative;
}

li > div { 
  position:absolute;
  top:140px;
}

#newProject{
  width:210px;
  height : 159px;
  text-align: center;
  font-size:30px;
  margin: 14px;
//  border : 2px white solid;
}

.selectedItem{
  border : 2px red solid;
}

.thumbnail {
  width: 210px;
}

li > img {
  transform:rotateZ(180deg);
}

#param{
  background-color:rgba(0,0,0,0.6);
}
input[type="range"]{
  width:600px;
  clear:left;
}
#buttons {
  background-color:rgba(0,0,0,0.4);
 
}

.help {
 z-index:1;
 position:fixed;
 
 top:20px;
 left:20px;
 font-size:24px;
 border-radius: 5px;
 background:rgba(255,255,255,0.4);
 margin-top:4px;
 margin-left:1px;
 margin-bottom:4px;
 font-family:'Open Sans Light',Helvetica,sans-serif;
}

#buttons input{
 font-size:24px;
 border-radius: 5px;
 background: -moz-linear-gradient(top, #fff, #c1c1c1 1%, #d1d1d1 50%, #DFDFDF 99%, #ccc);  
 margin-top:4px;
 margin-left:1px;
 margin-bottom:4px;
 font-family:'Open Sans Light',Helvetica,sans-serif;
}

#take{
 position:absolute;
 left:0px;
 display:block;
  font-size : 32px;
  width: 100%;
  z-index:2;
}
#controller {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

#close-container {
  text-align: right;
}

#photo-container {
  text-align: center;
}
#panel{
 position:fixed;
 left:20px;
  z-index:2;
  background-color:rgba(0,0,0,0.6);
}

#button-container {
  text-align: center;
}


#counter {
  position:fixed;
  left:80%;
  font-size:30px;
}


#photo {
  width: 100%;
  height: 100%;
  display:none;
}

#cvs {
  width: 100%;
  height: 100%;
  z-index:1;
  transform : rotateZ(180deg);
}

#counter {
  top: 35px;
  color: white;
  float:right;
  z-index:4;
}
#list {
  float:right;
  color: white;
 background-color: rgba(0, 0, 0, 0.6);
}
#arrow {
  position: absolute;
/*  right: 5px;
  bottom: 5px; */
  top: 5px;
  color: white;
  width: 100%;
  text-align: center;
}

.indicator {
  color:#eeeeee;
  float:left;
}

.y-slider {
}

.x-slider {
}
.param-name {
  color:#eeeeee;
  float:left;
}
